@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.messageBubble {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0.5rem 1rem;

  animation: fadeIn 0.5s ease-out;

  &.other {
    justify-content: flex-start;
    .messageContent {
      flex-direction: row;
      float: right;
      .messageBox{
        background-color: #212121;
        color: white;
        .messageTime_container{
          color: #fff;
          .messageTime{
            color:#bcbcbc;
          }

        }
      }
    }
  }

  &.me {
    justify-content: flex-end;
    .messageContent {
      flex-direction: row-reverse;
      .messageBox{
        background-color: rgb(208, 188, 255);
        color: black;
        .messageTime_container{
          color: #50388c;

        }
      }
    }
  }

  .messageContent {
    max-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: flex-end;

    .userAvatar {
      margin: 1rem 0;
      display: flex;
      flex-direction: row;
      gap: 1rem;

      img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }
    }

    .messageBox {
      display: flex;
      min-width: 8rem;
      flex-direction: column;
      align-items: center;
      border: 1px solid #ccc;
      border-radius: 8px;
      overflow: hidden;
      border: none;

      img {
        max-width: 50%;
        padding: 1rem;
      }

      .messageText {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-end;

        p {
          margin: 0;
          font-size: 1.6rem;
          font-weight: 500;
          padding: 0.5rem 1rem;
          // text-align: justify;
        }

        .messageTime_container {
          display: flex;
          justify-content: space-between;
          .load_icon {
            font-size: 1rem;
            padding-right: 1rem;
          }
          .messageTime {
            display: flex;
            width: 100%;
            padding-left: 1rem;
            padding-bottom: 1rem;
            font-size: 1rem;
          }
        }
      }
    }
  }
}