.username {
    display: inline-block;
    color: #566787;
}

.username img {
    width: 38px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 8px;

}

.table-report .username img {
    width: 100px;
    border-radius: 5px;
}

.table-report .username {
    display: flex;
    flex-direction: column;
}

.status {
    font-size: 30px;
    margin: -5px 2px 0 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 10px;
}

.text-success {
    color: #28a745 !important;
}
.text-err {
    color: #c5a80c !important;
}

#reportModal .modal-dialog {
    width: 900px !important;
    max-width: none;
}