h1 {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-top: 30%;
    margin-left: 30%;
}

.chatPage_container {
    width: 100%;
    height: 90%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1b1c;
    z-index: 0;
    border-radius: 15px;
    overflow: hidden;
    position: relative;

    // box-shadow: 9px 9px 1px 1px #3b3b3b;
    .go-down {
        position: absolute;
        bottom: 13%;
        right: 0;
        margin: 10px;
        background-color: #694cff;
        border-radius: 50%;
        padding: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: #3b3b3b;
        }

        animation: slideInRight 0.2s ease-out;
    }

    @keyframes slideInRight {
        from {
            transform: translateX(100%);
            opacity: 0;
        }

        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    transition: all 0.3s ease-in-out;

    .chatpage_header {
        background-color: rgba(60, 60, 67, 0.2901960784);
        width: 100%;
        padding: 1.7rem;
        height: 10%;
        display: flex;
        justify-content: space-between;
        border-radius: 1rem 1rem 0 0;
        text-align: center;
        font-size: 2rem;
        color: #fff;

        .header_wrap {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .search_input {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                position: relative;
                padding: 0.5rem;
                background: transparent;
                border-bottom: 1px #ffffff solid;
                color: WHITE;
            }

            .search_results {
                position: absolute;
                background-color: #2b2b2b;
                top: 10%;
                right: 23%;
                width: 30rem;
                display: flex;
                flex-direction: column;
                .search_result_item {
                    margin: 0 !important;
                    padding: 0.5rem;
                    cursor: pointer;
                    color: #fff;
                    border-bottom: 1px solid #919191;
                    &:hover {
                        background-color: #3b3b3b;
                    }
                }
            }

            .infor {
                display: flex;
                align-items: center;
                gap: 1rem;

                .chatPage_chat_avt {
                    width: 4rem;
                    height: 4rem;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                .chatPage_chat_name {
                    height: 100%;
                    font-size: 1.5rem;
                    color: #ffffff;
                    text-align: justify;

                    h3 {
                        margin: 0;
                    }

                    .status {
                        display: flex;
                        align-items: center;

                        span {
                            color: #aaa;

                            svg {
                                text-align: left;
                                font-size: 5px;
                                color: chartreuse;
                            }
                        }
                    }
                }
            }

            .more {
                .btn_more {
                    width: 40px;
                    height: 40px;
                    min-width: 0;
                    border-radius: 50%;
                    cursor: pointer;
                    background-color: transparent;
                    color: #fff;

                    &.szh-menu-button--open {
                        background-color: #2b2b2b;
                    }

                    &:hover {
                        background-color: #2b2b2b;
                    }

                    svg {
                        font-size: 15px;
                    }
                }

                .my-menu {
                    ul {
                        top: 10px !important;
                    }
                }
            }
        }
    }

    .ChatWindow {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-behavior: smooth;

        h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0 !important;
        }

        &.animate-new-message {
            animation: fadeIn 0.5s ease;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        h1 {
            color: white;
            text-align: center;
            font-size: 2rem;
            margin-top: 2rem;
        }
    }

    .input_container {
        display: flex;
        flex-direction: row;
        width: 100%;

        .chatPage_chat_btn {
            margin: 5px;
            font-size: 2rem;
            width: 6rem;
            height: 4rem;
            border-radius: 1rem;

            &:hover {
                background-color: #aa57d2;
                cursor: pointer;
            }
        }
    }
}

.my-menu {
    ul {
        background-color: rgb(33 33 33 / 75%);
        border-radius: 10px;
        padding: 10px 5px;
        backdrop-filter: blur(50px);
        min-width: 150px;
    }

    .menu_item,
    .szh-menu__item--submenu {
        color: #fff;
        gap: 2rem;
        border-radius: 6px;
        font-size: 15px;
        padding: 5px 10px;

        &.szh-menu__item--submenu {
            // top: 20rem;
            padding: 0;
            background-color: transparent !important;

            &:hover {
                background-color: transparent !important;
            }
        }

        svg {
            width: 15px;
        }

        &:hover {
            background-color: rgb(170 170 170 / 8%);
        }

        &.szh-menu__item--hover {
            background-color: rgb(170 170 170 / 8%);
        }

        &.delete-chat {
            color: #d24f50;

            &:hover {
                background-color: #3a302e;
            }
        }
    }
}

.ReactModalPortal {
    .ReactModal__Overlay {
        background-color: rgba(0, 0, 0, 0.5) !important;
        z-index: 1000;

        .ReactModal__Content {
            top: 50%;
            left: 50%;
            right: auto;
            bottom: auto;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            background-color: #212121;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            color: #fff;

            .btn_modal {
                display: flex;
                justify-content: space-around;
                padding-top: 20px;
                color: #8774e1;

                span {
                    padding: 5px 12px;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover {
                        background-color: #292730;
                    }
                }
            }
        }
    }
}

@keyframes hero-gradient-animation {
    0% {
        --s-start-0: 9%;
        --s-end-0: 55%;
        --x-0: 85%;
        --c-0: hsla(267, 52%, 83%, 1);
        --y-0: 80%;
        --c-1: hsla(336, 100%, 82%, 1);
        --x-1: 60%;
        --s-start-1: 5%;
        --s-end-1: 72%;
        --y-1: 24%;
        --y-2: 82%;
        --c-2: hsla(54, 100%, 65%, 0.49);
        --s-start-2: 5%;
        --s-end-2: 52%;
        --x-2: 13%;
        --s-start-3: 13%;
        --s-end-3: 68%;
        --y-3: 7%;
        --c-3: hsla(299, 72%, 68%, 1);
        --x-3: 24%;
    }

    100% {
        --s-start-0: 9%;
        --s-end-0: 55%;
        --x-0: 31%;
        --c-0: hsla(267, 52%, 83%, 1);
        --y-0: 94%;
        --c-1: hsla(337, 82%, 95%, 1);
        --x-1: 2%;
        --s-start-1: 5%;
        --s-end-1: 72%;
        --y-1: 25%;
        --y-2: 20%;
        --c-2: hsla(54, 100%, 65%, 0.49);
        --s-start-2: 5%;
        --s-end-2: 52%;
        --x-2: 98%;
        --s-start-3: 13%;
        --s-end-3: 68%;
        --y-3: 92%;
        --c-3: hsla(299, 72%, 68%, 1);
        --x-3: 95%;
    }
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 9%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 55%
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 85%
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(267, 52%, 83%, 1)
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 80%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(336, 100%, 82%, 1)
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 60%
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 5%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 72%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 24%
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 82%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(54, 100%, 65%, 0.49)
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 5%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 52%
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 13%
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 13%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 68%
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(299, 72%, 68%, 1)
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 24%
}

.ChatWindow {
    --x-0: 85%;
    --c-0: hsla(267, 52%, 83%, 1);
    --y-0: 80%;
    --c-1: hsla(336, 100%, 82%, 1);
    --x-1: 60%;
    --y-1: 24%;
    --y-2: 82%;
    --c-2: hsla(54, 100%, 65%, 0.49);
    --x-2: 13%;
    --y-3: 7%;
    --c-3: hsla(299, 72%, 68%, 1);
    --x-3: 24%;
    ;
    background-color: hsla(115, 0%, 100%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3));
    animation: hero-gradient-animation 10s linear infinite alternate;
    background-blend-mode: normal, normal, normal, normal;
}