.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 2rem 13% 2rem;
    margin-bottom: 10%;
    width: 100%;
    gap: 1rem;
    background-color: #4949499b;
    backdrop-filter: blur(1rem);    color: #c6c6c6;
    border-radius: 1rem 1rem 0 0;
    input {
        padding: 3rem;
        width: 100%;
        background-color: transparent;
        height: 100%;
        padding: 0 10px;
        border: none;
        color: #c6c6c6;
    }
}
